{% extends "layout.html" %}
{% block body %}

<!-- <p>
	<span class="visible-xs">Viewport: x</span>
	<span class="visible-sm">Viewport: s</span>
	<span class="visible-md">Viewport: m</span>
	<span class="visible-lg">Viewport: l</span>
</p> -->

	<div class="well well-sm col-xs-12 col-sm-12 col-md-12">
		<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="btn-group col-xs-4 col-sm-4 col-md-4 col-lg-4" role="group">
				<button class="btn btn-default controls stop col-xs-6 col-sm-6 col-md-6 col-lg-6" id="stop"><span class="glyphicon glyphicon-stop"></span></button>
				<button class="btn btn-default controls resume col-xs-6 col-sm-6 col-md-6 col-lg-6" id="play"><span class="glyphicon glyphicon-play"></span></button>
			</div>

			<span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">&nbsp;</span>

			<span class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="now_playing"></span>
			<span class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id="stats_output"></span>
		</div>
	</div>
<div class="row" style="margin-bottom:5px; margin-top:10px;"></div>
	<div class="panel panel-success">
		<div class="panel-heading">
		<span>Click on a playlist below:</span>
		</div>
		<div class="panel-body">
			<div class="list-group">
				  {% for playlist in playlists %}
					<button type="button" class="list-group-item playlist" id="{{playlist.playlist}}">{{playlist.playlist}}</button>
				  {% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
