<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
	<link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet"/>
	<link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')}}" rel="stylesheet"/>

	<script>
		$(document).ready(function() {
			var refreshNowPlaying = function() {
				$.get("/playing/", function(data, result, response) {
					console.log("Refreshing now playing.")
					$("#now_playing").text(JSON.parse(data).playlist);
				});
			};

      var refreshStats = function() {
        $.get("/stats/", function(data, result, response) {
          var parsed = JSON.parse(data);
          if(parsed.stats) {
				       $("#stats_output").text((parsed.stats.bitrate||0)+"kbps");
               $(".controls").removeClass("active");

               if(parsed.stats.state=="play") {
                 $(".resume").addClass("active");
               } else {
                 $(".stop").addClass("active");
               }
               $("#playlist_controls").toggle(Number(parsed.stats.playlistlength) > 1);
             }
          });
			};

      var invalidateView = function() {
        refreshStats();
        refreshNowPlaying();
      };

      setInterval(function() {
        refreshStats();
      },3000);
			setInterval(function(){
				refreshNowPlaying();
			},10000)

      $(".controls").click(function(ev) {
        var id = $(this).attr('id');

        if(id == "resume" || id == "stop") {
          $(".controls").removeClass("active");
          $(this).addClass("active");
        }
      });

			$("button.resume").click(function(ev) {
				$.post({url: "/resume/",data: {}});
        invalidateView();
			});
			$("button.stop").click(function(ev) {
				$.post({url: "/stop/", data: {}});
        invalidateView();
			});
      $("button.next").click(function(ev) {
				$.post({url: "/next/", data: {}});
        invalidateView();
			});
      $("button.prev").click(function(ev) {
				$.post({url: "/prev/", data: {}});
        invalidateView();
			});
			$("button.playlist").click(function(ev) {
				$("button.playlist").removeClass('active');

				$(this).toggleClass('active');
				$.post({
					url: "/play/",
					data: {"playlist": $(this).attr('id')},
					success: function() {
						$("#now_playing").text("Fetching name..");
					}
				});
			});

      invalidateView();
		});
	</script>
<title>pyPlaylist</title>
</head>
<body>
<div class="container">
	<h2>pyPlaylist <small>radio/music player</small></h2>

	<div class="content">
		{% block body %}{% endblock %}
	</div>
</div>
</body>
</html>
